<div class="well">
  <table class = "table table-bordered table-striped">
   <thead>
      <tr>
       <th>Player One</th>
       <th>Score</th>
       <th>Player Two</th>
       <th>Score</th>
       <th>Winner</th>
      </tr>
   </thead>
   <% @completed_games.each do |game| %>
     <tbody>
        <td><%= link_to(User.find(game.player_one_id).username, show_performance_path(User.find(game.player_one_id))) %></td>
        <td><%=game.player_one_score %></td>
        <td><%= link_to(User.find(game.player_two_id).username, show_performance_path(User.find(game.player_two_id))) %></td>
        <td><%= game.player_two_score %></td>
        <td><%= User.find(game.winner_id).username %></td>
     </tbody>
   <% end %>
  </table>
</div>