<% if @user.id == @game.winner_id %>
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Congratulations, you won!</h4>
  </div>
<% else %>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Better luck next time.</h4>
  </div>
<% end %>
<%= render 'game_header' %>
<table class = "table table-bordered table-striped">
    <% @cards.each_slice(6) do |slice| %>
    <tbody>
      <td align="middle"><%= present_card slice[0] %></td>
      <td align="middle"><%= present_card slice[1] %></td>
      <td align="middle"><%= present_card slice[2] %></td>
      <td align="middle"><%= present_card slice[3] %></td>
      <td align="middle"><%= present_card slice[4] %></td>
      <td align="middle"><%= present_card slice[5] %></td>
    </tbody>
  <% end %>
</table>