<h2><%= @user.email %>'s Active Games</h2>

<table class = "table table-bordered table-striped">
 <thead>
    <tr>
     <th>Player One</th>
     <th>Player One Score</th>
     <th>Player Two</th>
     <th>Player Two Score</th>
     <th>Resume Game</th>
    </tr>
 </thead>
 <% @games.each do |game| %>
 <tbody>
    <td><%= User.find(game.player_one_id).email %></td>
    <td><%=game.player_one_score %></td>
    <td><%= User.find(game.player_two_id).email %></td>
    <td><%= game.player_two_score %></td>
    <td><%= link_to("Resume Game", game_path(id: game.id)) %></td>
 </tbody>
 <% end %>
</table>