<h2>New Game for <%= current_user.email %></h2>
<div class = "well">
  <p>Invite your friend by adding their email</p>
   <%= form_tag({controller: "games", action: "create"}, method: "post") do %>
      <%= label_tag :challenger_email %>
      <%= text_field_tag :challenger_email %>
      <%= submit_tag("Start Game") %>
   <% end %>
   <p><%= link_to "Cancel", user_games_path(current_user) %>
</div>