<h2>Game On!</h2>

<%= render 'game_header' %>

<%= form_tag({controller: "games", action: "match_cards"}, method: "patch") do %>
<table class = "table table-bordered table-striped">
  <% @cards.each_slice(6) do |slice| %>
  <tbody>
    <td align="middle"><%= present_card slice[0] %>
                       <br /><%= check_box_tag('card_ids[]', slice[0].id) %>
    </td>
    <td align="middle"><%= present_card slice[1] %>
                       <br /><%= check_box_tag('card_ids[]', slice[1].id) %>
    </td>
    <td align="middle"><%= present_card slice[2] %>
                       <br /><%= check_box_tag('card_ids[]', slice[2].id) %>
    </td>
    <td align="middle"><%= present_card slice[3] %>
                       <br /><%= check_box_tag('card_ids[]', slice[3].id) %>
    </td>
    <td align="middle"><%= present_card slice[4] %>
                       <br /><%= check_box_tag('card_ids[]', slice[4].id) %>
    </td>
    <td align="middle"><%= present_card slice[5] %>
                      <br /><%= check_box_tag('card_ids[]', slice[5].id) %>
    </td>
  </tbody>
  <% end %>
<% end %>
</table>
<%= submit_tag("Match") %>