<h2>Game On!</h2>

<%= form_tag({controller: "games", action: "match_cards"}, method: "patch") do %>
  <ul style="list-style-type:none">
    <% @game.cards.each_with_index do |card, index| %>
      <% if card.matched? %>
        <li><%= card.content %></li>
      <% else %>
        <li>
          <%= check_box_tag('card_ids[]', card.id) %>
          <%= card.id %>
        </li>
      <% end %>
    <% end %>
    <%= hidden_field_tag(:id, @game.id) %>
  </ul>
  <%= submit_tag("Match") %>
<% end %>