<h2>Game On!</h2>

<%= form_tag("/games", method: "get") do %>
  <ul style="list-style-type:none">
    <% @game.cards.each_with_index do |card, index| %>
      <% if card.matched? %>
        <li><p><%= card.content %></p></li>
      <% else %>
        <li>
          <%= check_box_tag('card_ids[]', card.id) %>
          <p><%= card.id %></p>
        </li>
      <% end %>
    <% end %>
    <%= hidden_field_tag(:id, @game.id) %>
  </ul>
  <%= submit_tag("Match") %>
<% end %>